<form [formGroup]="userForm" (ngSubmit)="senForm()">
    <input required minLength="4" formControlName="mail" placeholder="Mail" type="text" />
    <div *ngIf="validInput('mail','required')">Le champs est requis</div>
    <div *ngIf="validInput('mail','minlength')">E-mail invalide</div>
    <input required formControlName="password" placeholder="Password" type="text" />
    <div *ngIf="validInput('password','required')">Le champs est requis</div>
    <button [disabled]="userForm.invalid" type="submit">Valider</button>
</form>